---
import ArchivosAdjuntosPaciente from '@/components/organismo/ArchivosAdjuntosPaciente.astro';
import Div1Atencion from '../../../../components/atomos/Div1Atencion.astro';
import DivBox1 from '../../../../components/atomos/DivBox1.astro';
import MainDashboard from '../../../../components/atomos/MainDashboard.astro';
import LayoutDash from '../../../../components/layouts/LayoutDash.astro';
import ContenedorCharts from '../../../../components/moleculas/ContenedorCharts.astro';
import AlergiasPacientePerfil from '../../../../components/organismo/AlergiasPacientePerfil';
import AntecedentesPacientePerfil from '../../../../components/organismo/AtecedentesPacientePerfil';
import HistorialVisitaPaciente from '../../../../components/organismo/HistorialVisitaPaciente.astro';
import MedicacionFichaPaciente from '../../../../components/organismo/MedicacionFichaPaciente.astro';
import NotasMedicas from '../../../../components/organismo/NotasMedicas';
import ProximosTurnos from '../../../../components/organismo/ProximosTurnos.astro';
import PacienteHeader from './components/PacienteHeader.astro';

import { getPacienteData } from '@/services/pacientePerfil.services';

const { pacienteId } = Astro.params;
const { session, user } = Astro.locals;

// console.log(pacienteData);
let perfilPaciente = {
  pacienteData: {},
  medicamentosData: [],
  historialVisitas: [],
  arrayAntecedente: [],
  arrayArchivosAdjuntos: [],
  arrayNotasMedicas: [],
  proximosTurnos: [],
  colorMap: {},
};

if (!user || !user.id || !user.centroMedicoId) {
  return Astro.redirect('/dashboard?error=auth');
}
console.log('centroMedicoId', user.centroMedicoId);
try {
  perfilPaciente = await getPacienteData(pacienteId as string, user.id, user.centroMedicoId);
  // console.log('perfilPaciente', perfilPaciente);
} catch (error) {
  console.error('Error fetching paciente data:', error);
}
---

<LayoutDash>
  <MainDashboard h1="Ficha del paciente" pacienteId={pacienteId}>
    <div class="gap-2 flex flex-col w-full">
      <PacienteHeader
        pacienteData={perfilPaciente.pacienteData}
        lastVisit={perfilPaciente.historialVisitas?.[0] || null}
      />
      <DivBox1 className="w-full text-primary-texto">
        <details class="w-full group">
          <summary
            class="px-4 py-3
            hover:bg-primary-bg-componentes
            duration-300
            cursor-pointer
            flex items-center justify-between
            hover:bg-opacity-90"
          >
            <span class="font-semibold text-primary-textoTitle">Progresos</span>
            <span
              class="text-sm text-primary-100 font-medium group-open:hidden animate-aparecer duration-300"
              >Ver más</span
            >
            <span
              class="text-sm text-primary-100 font-medium hidden group-open:inline animate-aparecer duration-300"
              >Ver menos</span
            >
          </summary>

          <div class="mt-2 p-2
         
            overflow-x-auto">
            <div class="min-w-[800px] md:min-w-0">
              <ContenedorCharts />
            </div>
          </div>
        </details>
      </DivBox1>
      <ProximosTurnos
        turnos={perfilPaciente.proximosTurnos}
        currentUserId={user?.id}
        pacienteId={pacienteId}
      />
      <div class="flex w-full flex-col items-start justify-normal gap-2 md:flex-row">
        <Div1Atencion>
          <DivBox1>
            <AlergiasPacientePerfil
              client:load
              pacienteId={pacienteId}
              alergias={perfilPaciente.pacienteData.alergias || []}
            />
            <div class="border-b border-primary-100"></div>
            <AntecedentesPacientePerfil
              client:load
              pacienteId={pacienteId}
              antecedentes={perfilPaciente.arrayAntecedente}
              centroMedicoId={user?.centroMedicoId || ''}
            />
          </DivBox1>
          <HistorialVisitaPaciente
            colorMap={perfilPaciente.colorMap}
            visitas={perfilPaciente.historialVisitas}
          />
        </Div1Atencion>
        <Div1Atencion>
          <MedicacionFichaPaciente
            colorMap={perfilPaciente.colorMap}
            medicacion={perfilPaciente.medicamentosData}
          />
          <ArchivosAdjuntosPaciente
            colorMap={perfilPaciente.colorMap}
            documentos={perfilPaciente.arrayArchivosAdjuntos}
          />
          <NotasMedicas
            client:load
            colorMap={perfilPaciente.colorMap}
            userId={user?.id}
            pacienteId={pacienteId}
            notas={perfilPaciente.arrayNotasMedicas}
          />
        </Div1Atencion>
      </div>
    </div>
  </MainDashboard>
</LayoutDash>
<!-- <script>
  import { fetchPacientePerfil } from '@/context/store';
  const idPaciente = document.getElementById('mainDashboard')?.dataset.pasisisi;

  fetchPacientePerfil(idPaciente);
</script> -->
