---
import BotonIndigo from '@/components/moleculas/BotonIndigo.astro';
import { Calendar, CheckCheck, Clock, UserCheck } from 'lucide-react';
import extraerHora from '../../../../utils/extraerHora';
import formatDate from '../../../../utils/formatDate';

interface Atencion {
  id: string;
  pacienteId: string;
  nombrePaciente: string;
  inicioAtencion: string;
  obraSocial: string;
}
interface Props {
  ultimasAtenciones: Atencion[];
}
const { ultimasAtenciones } = Astro.props as Props;
---

<div class="grid gap-3 w-full">
  {
    ultimasAtenciones?.length === 0 ? (
      <div class="w-full">
        <div class="text-center py-5">
          <div class="w-12 h-12 mx-auto mb-3 rounded-full bg-gray-700/50 flex items-center justify-center">
            <CheckCheck className="w-8 h-8 text-gray-500" />
          </div>
          <p class="text-gray-400 font-medium mb-1">No hay Atenciones</p>
          <p class="text-gray-500 text-sm">Las atenciones aparecerán aquí</p>
        </div>
      </div>
    ) : (
      ultimasAtenciones?.map(aten => (
        <a
          href={`/dashboard/consultas/aperturaPaciente/${aten.pacienteId}/${aten.id}`}
          class="block rounded-lg bg-white border  shadow-sm hover:shadow-md transition-transform duration-200 hover:-translate-y-1 p-4 w-full"
        >
          <div class="flex justify-between items-center">
            {/* Información principal */}
            <div class="w-2/3">
              <div class="flex items-center gap-2">
                <UserCheck className="w-6 h-6 stroke-indigo-600" />
                <h3 class="text-lg font-semibold text-gray-800">{aten.nombrePaciente}</h3>
              </div>
              <div class="text-sm text-gray-500 mt-1 flex items-start gap-1 flex-col w-full">
                <p class="flex items-center gap-1">
                  <Calendar className="w-4 h-4 stroke-indigo-600" />
                  {formatDate(aten.inicioAtencion)}{' '}
                </p>
                <span class="text-sm flex items-center gap-1 text-primary-textoTitle font-semibold">
                  <Clock className="w-4 h-4 stroke-indigo-600" />
                  {extraerHora(aten.inicioAtencion)}
                </span>
              </div>
            </div>
            <div class="flex flex-col items-center gap-2">
              {/* Obra social */}
              <BotonIndigo>{aten.obraSocial || 'Sin obra social'}</BotonIndigo>
              {aten.estado && <BotonIndigo>{aten.estado}</BotonIndigo>}
            </div>
          </div>
        </a>
      ))
    )
  }
</div>
