---
import { Clock, UserCheck } from 'lucide-react';
import extraerHora from '../../../../utils/extraerHora';
import formatDate from '../../../../utils/formatDate';

interface Atencion {
  id: string;
  pacienteId: string;
  nombrePaciente: string;
  inicioAtencion: string;
  obraSocial: string;
}
interface Props {
  ultimasAtenciones: Atencion[];
}
const { ultimasAtenciones } = Astro.props as Props;
---

<div class="grid gap-3 w-full">
  {
    ultimasAtenciones?.map(aten => (
      <a
        href={`/dashboard/consultas/aperturaPaciente/${aten.pacienteId}/${aten.id}`}
        class="block rounded-lg bg-white shadow-sm hover:shadow-md transition-transform duration-200 hover:-translate-y-1 p-4 w-full"
      >
        <div class="flex justify-between items-center">
          {/* Información principal */}
          <div>
            <div class="flex items-center gap-2">
              <UserCheck className="w-4 h-4" />
              <h3 class="text-lg font-semibold text-gray-800">{aten.nombrePaciente}</h3>
            </div>
            <p class="text-sm text-gray-500 mt-1 flex items-center gap-1">
              <Clock className="w-4 h-4" />
              {formatDate(aten.inicioAtencion)} {extraerHora(aten.inicioAtencion)}
            </p>
          </div>

          {/* Obra social */}
          <div class="text-sm text-gray-600 font-medium bg-gray-100 px-2 py-1 rounded-full">
            {aten.obraSocial || 'Sin obra social'}
          </div>
        </div>
      </a>
    ))
  }
</div>
