---
import { eq } from "drizzle-orm";
import MainDashboard from "../../../../../components/atomos/MainDashboard.astro";
import LayoutDash from "../../../../../components/layouts/LayoutDash.astro";
import db from "../../../../../db";
import { atenciones, diagnostico, pacientes } from "../../../../../db/schema";
import type { pacienteType } from "../../../../../types";
import { generateId } from "lucia";
import { medicamento } from "../../../../../db/schema/medicamento";
import IndexAtencion from "./IndexAtencion.astro";
const { pacienteId, atencionId } = Astro.params;
let pacienteData: pacienteType = {
  id: "",
  userId: "",
  email: "",
  nombre: "",
  apellido: "",
  fNacimiento: "",
  dni: 0,
  sexo: "",
  celular: "",
  direccion: "",
};
let isExistMedicamentos:any = [];
const dataIds = {
  estado:'pendienta',
  atencionId,
  userId: "",
  pacienteId: pacienteId,
};
// tengo q implemtar type para historiClinica
let isExistHC = {};
let isExistDiagnosticos;
try {
  pacienteData = (
    await db.select().from(pacientes).where(eq(pacientes.id, pacienteId))
  ).at(0);

  // console.log(pacienteData)
  if (!pacienteData) {
    console.log('paciente no encontrado')
    return;
  } else {
    dataIds.userId = pacienteData.userId;
    isExistHC = (
      await db
        .select()
        .from(atenciones)
        .where(eq(atenciones.id, atencionId))
    ).at(0);

    if (isExistHC?.estado==='FINALIZADO') {
    
    }
    if (isExistHC) {
      isExistMedicamentos = await db
        .select()
        .from(medicamento)
        .where(eq(medicamento.atencionId, isExistHC.id));
      isExistDiagnosticos = await db
        .select()
        .from(diagnostico)
        .where(eq(diagnostico.atencionId, isExistHC.id));
    }
    
  }
} catch (error) {
  console.log(error);
}

// usar contexto para guardar al termiarn la consulta, o guardar con un boton en cada campo a llenar
---

<LayoutDash>
  <MainDashboard dataIds={dataIds} h1="Atención">
    <!-- {
      !isExistHC&&
      <div class="w-full flex items-center py-2 text-primary-400 font-semibold text-lg justify-center bg-primary-400/30">
        <p>Atencion Finalziada</p>
      </div>
    } -->
    <IndexAtencion 
    dataIds={dataIds},
    pacienteData={pacienteData},
    isExistHC={isExistHC},
    isExistDiagnosticos={isExistDiagnosticos},
    isExistMedicamentos={isExistMedicamentos},
    />
  </MainDashboard>
</LayoutDash>

