---
import { getDatosNuevaAtencion } from '@/services/atenciones.services';
import MainDashboard from '../../../../../components/atomos/MainDashboard.astro';
import LayoutDash from '../../../../../components/layouts/LayoutDash.astro';
import IndexAtencionV2 from './IndexAtencionV2.astro';
const { pacienteId, atencionId } = Astro.params as { pacienteId: string; atencionId: string };

const { user, session } = Astro.locals;
let errorData;
// tengo q implemtar type para historiClinica

const { pacienteData, signosVitalesData, antecedentesData, historialVisitaData } =
  await getDatosNuevaAtencion(pacienteId, atencionId);

if (!pacienteData) {
  errorData = {
    msg: 'Error al buscar el paceinte, intentelo de nuevo 🙈',
  };
}
const dataIds = {
  userId: session?.userId,
  pacienteId,
  atencionId,
};

const diagnosticoData = [
  {
    tipo: 'Diagnostico1',
    observaciones: 'Observaciones1',
  },
  {
    tipo: 'Diagnostico2',
    observaciones: 'Observaciones2',
  },
];

const medicamentosData = [
  {
    nombre: 'Medicamento1',
    dosis: 2,
    frecuencia: 'diaria',
    duracion: '2 semanas',
  },
  {
    nombre: 'Medicamento2',
    dosis: 1,
    frecuencia: 'semanal',
    duracion: '1 mes',
  },
];
---

<LayoutDash title={`Atención a ${pacienteData?.nombre} ${pacienteData?.apellido}`}>
  <MainDashboard h1={`Atención a ${pacienteData?.nombre} ${pacienteData?.apellido}`}>
    <!-- {
      !isExistHC&&
      <div class="w-full flex items-center py-2 text-primary-400 font-semibold text-lg justify-center bg-primary-400/30">
        <p>Atencion Finalziada</p>
      </div>
    } -->
    {
      !errorData ? (
        <IndexAtencionV2
          antecedentes={antecedentesData}
          signosVitalesData={signosVitalesData}
          pacienteData={pacienteData}
          isExistDiagnosticos={diagnosticoData}
          isExistMedicamentos={medicamentosData}
          historialVisitaData={historialVisitaData}
        />
      ) : (
        <div class="w-screen h-screen flex items-center justify-center  text-primary-textoTitle text-xl font-bold -translate-y-10 ">
          {errorData.msg}
        </div>
      )
    }
  </MainDashboard>
</LayoutDash>
