---
import { eq } from "drizzle-orm";
import Table from "../../../components/tablaComponentes/Table";
import db from "../../../db";
import { pacientes} from "../../../db/schema";
import type { pacienteType } from "../../../types";
const {user}=Astro.props


let pacientesData=[]
try {
  const dataDB:pacienteType[]=await db.select().from(pacientes).where(eq(pacientes.userId,user.id))
  console.log('datos traidos de la base de datos ', dataDB)
  pacientesData= dataDB.map(paciente=>{
      return {
        href:`/dashboard/pacientes/${paciente.id}`,
          id:paciente.id,
          nombreApellido:`${paciente.nombre}  ${paciente.apellido} `,
          dni:paciente.dni,
          edad:paciente.edad,
          sexo:paciente.sexo,
          celular:paciente.celular
      }
  })
} catch (error) {
  console.log(error)
}

const handleEdit = (id) => {
  console.log("Editar fila con id:", id);
  // Aquí puedes abrir un modal o redirigir a una página de edición.
};

const handleDelete = (id) => {
  if (confirm("¿Estás seguro de eliminar este elemento?")) {
    console.log("Eliminar fila con id:", id);
    // Aquí puedes realizar la acción para eliminar el elemento (por ejemplo, llamando a una API).
  }
};

const handleAtender = (id) => {
  console.log("Atender fila con id:", id);
  // Aquí puedes marcar como atendido o realizar otra acción.
};
const columnas = [
  {
    label: "nombre y apellido",
    id: 1,
    selector: (row) => row.nombre,
  },
  {
    label: "DNI",
    id: 2,
    selector: (row) => row.dni,
  },
  {
    label: "edad",
    id: 4,
    selector: (row) => row.edad,
  },
  {
    label: "sexo",
    id: 5,
    selector: (row) => row.sexo,
  },
  {
    label: "celular",
    id: 6,
    selector: (row) => row.celular,
  },
  {
    label: "Acciones",
    id: 7,
    selector: (row) => (
      `<div className="flex gap-x-2">
        <button
          className="bg-blue-500 text-white px-2 py-1 rounded"
          onClick={() => handleEdit(row.id)}
        >
          Editar
        </button>
        <button
          className="bg-red-500 text-white px-2 py-1 rounded"
          onClick={() => handleDelete(row.id)}
        >
          Eliminar
        </button>
        <button
          className="bg-green-500 text-white px-2 py-1 rounded"
          onClick={() => handleAtender(row.id)}
        >
          Atender
        </button>
      </div>`
    ),}
];
let arrayBody = [
  {
    nombreApellidos: "Juan Perez",
    dni: 12345678,
    edad: 23,
    sexo: "masculino",
    celular: 123456789,
  },
];




---

<div class="w-full overflow-x-auto my-5">
  <Table columnas={columnas} arrayBody={pacientesData} client:load />
</div>
