---
import MainDashboard from '@/components/atomos/MainDashboard.astro';
import Modal from '@/components/moleculas/Modal.astro';
import Section from '@/components/moleculas/Section';

import Calendario from '@/components/organismo/agenda/Calendario.tsx';
import ConstendorStats from '@/components/organismo/agenda/ConstendorStats';
import ContenedorSeleccionProfesionales from '@/components/organismo/agenda/ContenedorSeleccionProfesionales';
import { FormularioTurno } from '@/components/organismo/agenda/FormularioTurno';
import HorariosDisponibles from '@/components/organismo/agenda/HorariosDisponibles.tsx';
import TurnosDelDia from '@/components/organismo/agenda/TurnosDelDia.tsx';
import { FormularioRapicoCargaPaciente } from '@/components/organismo/pacientes/FormularioRapicoCargaPaciente';
import { fetchDataProfesionalesEntidad } from '@/services/agenda.services';
const { user } = Astro.locals;
// Solución temporal: Como solo hay un profesional, pasamos sus propios datos
const listaDeProfesionales = [
  {
    id: user.id,
    nombre: user.nombre,
    apellido: user.apellido,
  },
];

let dataProfesionales;
try {
  dataProfesionales = await fetchDataProfesionalesEntidad(user.id);
} catch (error) {
  console.log(error);
}
---

<MainDashboard h1="Agenda de Turnos">
  <div slot="botonera">
    <Modal id="modalNuevoTurno" title="Nuevo Turno">
      <FormularioTurno client:load user={user} />
    </Modal>
    <Modal id="modalNuevoPaciente" title="Nuevo Paciente">
      <FormularioRapicoCargaPaciente client:load userId={user.id} />
    </Modal>

    <ContenedorSeleccionProfesionales
      client:load
      profesionales={dataProfesionales}
      centroMedicoId={user.centroMedicoId}
    />
  </div>
  <ConstendorStats client:load userId={user.id} />

  <div class="w-full flex gap-2 items-start justify-between h-full">
    <!-- Columna 1: Calendario -->
    <Section title="Seleccionar Fecha" classContent="px- py-4 w-fit">
      <Calendario client:load />
    </Section>

    <!-- Columna 2: Turnos Agendados -->
    <Section title="Turnos del Día" classContent="px- py-4 md:w-[40vw]">
      <TurnosDelDia client:load user={user} />
    </Section>

    <!-- Columna 3: Horarios Disponibles -->
    <Section title="Horarios Disponibles" classContent="px- py-4 md:w-[30vw]">
      <HorariosDisponibles client:load />
    </Section>
  </div>
</MainDashboard>
