---
import ContenedorChartjs from "../atomos/ContenedorChartjs.astro";

const { userId } = Astro.props;
const { pacienteId } = Astro.params;
---

<div
  id="dataId"
  data-userid={userId}
  data-pacienteid={pacienteId}
  class="flex h-72 overflow-x-auto items-center gap-4 p-4 scrollbar-thin scrollbar-thumb-rounded-md scrollbar-thumb-gray-400"
>
  <ContenedorChartjs>
    <canvas id="imc" class="w-full h-full"></canvas>
  </ContenedorChartjs>
  <ContenedorChartjs>
    <canvas id="temperatura" class="w-full h-full"></canvas>
  </ContenedorChartjs>
  <ContenedorChartjs>
    <canvas id="frecuenciaCardiaca" class="w-full h-full"></canvas>
  </ContenedorChartjs>
  <ContenedorChartjs>
    <canvas id="frecuenciaRespiratoria" class="w-full h-full"></canvas>
  </ContenedorChartjs>
  <ContenedorChartjs>
    <canvas id="saturacionOxigeno" class="w-full h-full"></canvas>
  </ContenedorChartjs>
  <!-- Agrega más gráficos aquí -->
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>

<script>
  const pacienteId = document.getElementById("dataId")?.dataset.pacienteid;
  let labels
  async function fetchSignosVitales() {
    try {
      const response = await fetch(
        `/api/pacientes/signosVitales/${pacienteId}`
      );
      const data = await response.json();
      console.log(data);
      if (data.status !== 200) {
        console.error("Error al obtener los datos:", data.msg);
        return null;
      }
       labels = data.data.map((item) => {
    const newDate=new Date(item.created_at)
     return newDate .toLocaleDateString('es-AR')
    }); // Fechas de las mediciones
      return data.data;
    } catch (error) {
      console.error("Error fetching temperatura data:", error);
      return null;
    }
  }

  async function initTemperaturaChart() {
    const temperaturaData = await fetchSignosVitales();
    if (!temperaturaData) return;

    const temperaturas = temperaturaData.map((item) => item.temperatura);
    const dateFormat = new Date(labels).toLocaleDateString();
    const data = {
      labels: labels,
      datasets: [
        {
          label: "Temperatura (°C)",
          data: temperaturas,
          borderColor: "#FF5733",
          backgroundColor: "rgba(255, 87, 51, 0.5)",
          borderWidth: 2,
        },
      ],
    };

    const config = {
      type: "line",
      data: data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            position: "top",
          },
          title: {
            display: true,
            text: "Evolución de la Temperatura",
          },
        },
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: "Temperatura (°C)",
            },
          },
        },
      },
    };

    const temperaturaChart = new Chart(
      document.getElementById("temperatura"),
      config
    );
  }

  async function initFrecuenciaCardiacaChart() {
    const frecuenciaData = await fetchSignosVitales();
    if (!frecuenciaData) return;


    const frecuencias = frecuenciaData.map((item) => item.frecuenciaCardiaca);
    const data = {
      labels: labels,
      datasets: [
        {
          label: "Frecuencia Cardíaca (lpm)",
          data: frecuencias,
          borderColor: "#2B82E3",
          backgroundColor: "rgba(43, 130, 227, 0.5)",
          borderWidth: 2,
        },
      ],
    };

    const config = {
      type: "line",
      data: data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            position: "top",
          },
          title: {
            display: true,
            text: "Evolución de la Frecuencia Cardíaca",
          },
        },
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: "Frecuencia Cardíaca (lpm)",
            },
          },
        },
      },
    };

    const frecuenciaCardiacaChart = new Chart(
      document.getElementById("frecuenciaCardiaca"),
      config
    );
  }
  async function initFrecuenciaRespiratoria() {
    const frecuenciaData = await fetchSignosVitales();
    if (!frecuenciaData) return;

    const frecuencias = frecuenciaData.map((item) => item.frecuenciaRespiratoria);

    const data = {
      labels: labels,
      datasets: [
        {
          label: "Frecuencia Respiratoria ",
          data: frecuencias,
          borderColor: "#2B82E3",
          backgroundColor: "rgba(43, 130, 227, 0.5)",
          borderWidth: 2,
        },
      ],
    };

    const config = {
      type: "line",
      data: data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            position: "top",
          },
          title: {
            display: true,
            text: "Evolución de la Frecuencia Respiratoria",
          },
        },
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: "Frecuencia Respiratoria",
            },
          },
        },
      },
    };

    const frecuenciaCardiacaChart = new Chart(
      document.getElementById("frecuenciaRespiratoria"),
      config
    );
  }

  async function initIMCChart() {
    const imcData = await fetchSignosVitales();
    if (!imcData) return;

    const imcs = imcData.map((item) => item.imc);

    const data = {
      labels: labels,
      datasets: [
        {
          label: "IMC (kg/m²)",
          data: imcs,
          borderColor: "#28A745",
          backgroundColor: "rgba(40, 167, 69, 0.5)",
          borderWidth: 2,
          pointStyle: "circle",
          pointRadius: 5,
        },
      ],
    };

    const config = {
      type: "line",
      data: data,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            position: "top",
          },
          title: {
            display: true,
            text: "Evolución del IMC",
          },
        },
        scales: {
          y: {
            beginAtZero: false,
            title: {
              display: true,
              text: "IMC (kg/m²)",
            },
            ticks: {
              callback: function (value) {
                if (value < 18.5) return `${value} (Bajo peso)`;
                if (value >= 18.5 && value < 24.9) return `${value} (Normal)`;
                if (value >= 25 && value < 29.9) return `${value} (Sobrepeso)`;
                return `${value} (Obesidad)`;
              },
            },
          },
          x: {
            title: {
              display: true,
              text: "Fecha",
            },
          },
        },
        elements: {
          line: {
            tension: 0.4, // Suaviza las líneas del gráfico
          },
        },
      },
    };

    const imcChart = new Chart(document.getElementById("imc"), config);
  }
  initFrecuenciaRespiratoria()
  initIMCChart();
  initFrecuenciaCardiacaChart();
  initTemperaturaChart();
</script>

<style>
  .scrollbar-thin::-webkit-scrollbar {
    height:6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background:rgba(6, 114, 246, 0.498);
    border-radius: 2px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(6, 114, 246, 0.8)
  }
</style>
