---
import type { pacienteType } from "../../types";
import Button1 from "../atomos/Button1.astro";
import ButtonBackHistory from "../atomos/ButtonBackHistory.astro";
import Etiquetas from "../atomos/Etiquetas.astro";

const { pacienteData } = Astro.props as pacienteType;

const nowDate = new Date().toLocaleDateString();
---

<div
  class="h- border-y border-neutral-200 pt-2 pb-5 text-sm w-full flex relative items-center justify-evenly text-primary-texto px-5 mb-5"
>

<!-- boton de vovler history -->
<ButtonBackHistory/>
  <div class="flex flex-col w-full flex-1 gap-y-2">
    <div class="flex w-full items-center justify-start gap-x-3">
      <div>
        <h2 class="font-bold">
          {pacienteData.nombre}
          {" "}
          {pacienteData.apellido}
        </h2>
      </div>
      <div>
        <button
          class="bg-primary-100 text-white px-1 py-0.5 rounded hover:bg-primary-100/80 duration-150"
          onClick={() => (document.location.href = data.href)}
        >
          ficha
        </button>
      </div>
      <div>
        <Etiquetas>diagnostico</Etiquetas>
        <Etiquetas>{nowDate}</Etiquetas>
      </div>
    </div>
    <div
      class="flex w-full items-center text-xs font-semibold justify-start gap-x-3"
    >
      <p>{pacienteData.dni}</p>
      <p>{pacienteData.sexo}</p>
      <p>{pacienteData.celular}</p>
      <p>{pacienteData.email}</p>
    </div>
  </div>
  <div>
    <Button1>terminar consulta</Button1>
  </div>
</div>
