---
import Button1 from "../atomos/Button1.astro";
import ContenedorTitleBotonera from "../atomos/ContenedorTitleBotonera.astro";
import DivBox1 from "../atomos/DivBox1.astro";

interface Note {
  date: string;
  doctor: string;
  content: string;
}

interface DoctorNotesProps {
  notes: Note[];
}


const {notes}=Astro.props as DoctorNotesProps
---

<DivBox1>
  <ContenedorTitleBotonera>
    <h2 class="text-lg font-semibold">notas medico</h2>
    <div>
      <Button1>ver historial</Button1>
    </div>
  </ContenedorTitleBotonera>
    
    <div class="space-y-4">
      {notes.map((note, index) => (
        <div key={index} class="p-4 rounded-md bg-secondary">
          <div class="flex justify-between items-start mb-2">
            <div>
              <span class="text-sm font-medium">{note.doctor}</span>
              <span class="text-sm text-muted-foreground ml-2">{note.date}</span>
            </div>
          </div>
          <p class="text-sm text-primary-texto whitespace-pre-line">{note.content}</p>
        </div>
      ))}
    </div>
  </DivBox1>